/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table {
  background-color: white;
}

.progress {
  height: 20px;
}

.btn-info {
  color: white;
}
